@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: #ebf0fa;
  @apply text-gray-500;
}

h1 {
  @apply text-primary font-semibold text-4xl;
}

button {
  @apply px-3 py-2 
    rounded-sm 
    flex justify-between items-center gap-2
    text-sm font-semibold;
}
button:hover {
  @apply bg-opacity-90;
}
.btn-primary {
  @apply bg-primary text-white;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
}
.btn-outline {
  @apply border-2 border-primary rounded font-semibold text-primary;
}
.btn-outline:hover {
  @apply bg-primary text-background;
}
.btn-outline:active {
  @apply bg-background;
}
